img {
  width: 30%;
  height: 30%;
}
table {
  border-spacing: 2px solid black;
  text-align: center;
  padding: 10px;


  
}
td {
  border: 2px solid;
  padding: 10px;
}

.img-produtos {
  padding-right: 20px;
}